<%# add navigation links to this file %>
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav text-uppercase ml-auto">
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="/home/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="/events/upcoming">Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link js-scroll-trigger" href="/maps/google_maps">Google Maps</a>
    </li>
  </ul>
</div>
