<h1>Family Reunion App</h1>



<div class="jumbotron" center>
  <h1>Team - B</h1>
<p> Glynis Monroe and Terrence Robinson </p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">About Us</a></p>
  

</div>