

<h1> FrappFusion </h1> 


<div class="panel panel-default">
  <div class="panel-body">
   A fusion of fun...detailing all the cultural events for family activities.
  </div>
</div>
<div "panel-primary-heading-bg" </div>

