<div class="jumbotron">
  <div class="container">
    <h1 class="lead">"Celebrating families all over the world... by connecting through history, heritage and lineage."</h1>
  </div>
</div>


<h1> Frapp Forum </h1>




<<<<<<< HEAD
  
  
        
=======
  <p>"Celebrating families all over the world... by connecting through history, heritage and lineage."</p>


>>>>>>> fd1c780375fc553417d8111635ebd8769b0b5cea
  <%= @hello %>

  <div class="form-group">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <!--<button type="button" class="btn btn-primary">FrappFusion</button>-->
        <%= link_to 'FrappFusion', fusion_path, class: "btn btn-primary"  %>
      </div>
      <div class="btn-group" role="group">
        <!--<button type="button" class="btn btn-success">FrappChat</button>-->
        <%= link_to 'FrappChat', chat_path, class: "btn btn-success"  %>
      </div>
      <div class="btn-group" role="group">
        <!--<button type="button" class="btn btn-info">FrappBlog</button>-->
        <%= link_to 'FrappBlogg', blog_path, class: "btn btn-info"  %>
      </div>
    </div>
  </div>
